.App {
  text-align: center;
}

.App-logo {
  animation: bounce infinite 0.5s alternate;
  height: 20vmin;
  -webkit-filter: drop-shadow(3px 3px 3px rgb(0,0,0,0.5));
  filter: drop-shadow(3px 3px 3px rgb(0,0,0,0.5));
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ff99c2
  ;
}

.App-link {
  color: #61dafb;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
